body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

html{

    width: 100%;
   
    background: #f5f5f5;
}

table {
    border-collapse: collapse;
}

body {
    font-family: arial, "Microsoft YaHei";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    width: 100%;
    height: 100%;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    /*去除苹果手机input框会有输入灰色背景*/
}

input,
textarea {
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    /*去除苹果手机input默认样式*/
    -webkit-tap-highlight-color: transparent;
    /*去除苹果手机input框会有输入灰色背景*/

    border: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #c6c8d6;
    font-size: pxTorem(30);
}

.mask {
    background-color: #495056;
    -webkit-opacity: .8;
    opacity: .8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: none;
}

.mask.active {
    display: block;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

img {
    border: 0
}

.bodyActive {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
